# Unity .gitignore adapted from: https://gist.github.com/FullStackForger/20bbf62861394b1a3de0 and https://gist.github.com/teocomi/fbd014c26c63c7c1055d025e2339dea7
# =============== #
# Unity generated #
# =============== #
[Aa]ssets/AssetStoreTools*
# Asset meta data should only be ignored when the corresponding asset is also ignored
!/[Aa]ssets/**/*.meta
[Bb]uild/
/[Bb]uilds/
[Ll]ibrary/
/[Ll]ogs/
[Ll]ocal[Cc]ache/
[Oo]bj/
[Tt]emp/
[Uu]nityGenerated/
*.apk
*.unitypackage
# file on crash reports
sysinfo.txt
# Unity3D generated meta files
*.pidb.meta

# ===================================== #
# Visual Studio / MonoDevelop generated #
# ===================================== #
[Ee]xported[Oo]bj/
.vs/
.vsconfig
*.userprefs
*.csproj
*.pidb
*.pidb.meta
*.suo
*.sln*
*.user
*.unityproj
*.booproj
.consulo/
*.tmp
*.svd

###
# OS generated
###
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
Icon?
ehthumbs.db
Thumbs.db
[Tt]humbs.db
[Dd]esktop.ini
Corridor/Library/ShaderCache/
Corridor/Library/metadata/
